/* Fontes utilizadas */

@font-face {font-family: 'atma','bangers','marvel'; 
  src: url( "../fonts/Atma-Regular.ttf"), url("../fonts/Bangers-Regular.ttf"), url("../fonts/Marvel.ttf");}


/* Fonte Atma */
.f-atma-ss{font-family: 'atma' !important; font-size: 0.5rem !important;}
.f-atma-sm{font-family: 'atma' !important; font-size: 0.75rem !important;}
.f-atma{font-family: 'atma' !important; font-size: 1rem !important;}
.f-atma-md{font-family: 'atma' !important; font-size: 1.25rem !important;}
.f-atma-lg{font-family: 'atma' !important; font-size: 1.6rem !important;}
.f-atma-2l{font-family: 'atma' !important; font-size: 2rem !important;}
.f-atma-3l{font-family: 'atma' !important; font-size: 2.5rem !important;}

/* Fonte Bangers */
.f-bangers-ss{text-transform: uppercase; font-family: 'bangers' !important; font-size: 0.5rem !important;}
.f-bangers-sm{text-transform: uppercase; font-family: 'bangers' !important; font-size: 0.75rem !important;}
.f-bangers{text-transform: uppercase;  font-family: 'bangers' !important;  font-size: 1rem !important;}
.f-bangers-md{text-transform: uppercase; font-family: 'bangers' !important; font-size: 1.25rem !important;}
.f-bangers-lg{text-transform: uppercase; font-family: 'bangers' !important; font-size: 1.6rem !important;}
.f-bangers-2l{text-transform: uppercase; font-family: 'bangers' !important; font-size: 2rem !important;}
.f-bangers-3l{text-transform: uppercase; font-family: 'bangers' !important; font-size: 2.5rem !important;}

/* Fonte Marvel */
.f-marvel-ss{text-transform: uppercase; font-family: 'marvel' !important; font-size: 0.5rem !important;}
.f-marvel-sm{text-transform: uppercase; font-family: 'marvel' !important; font-size: 0.75rem !important;}
.f-marvel{text-transform: uppercase; font-family: 'marvel' !important;  font-size: 1rem !important;}
.f-marvel-md{text-transform: uppercase; font-family: 'marvel' !important; font-size: 1.25rem !important;}
.f-marvel-lg{text-transform: uppercase; font-family: 'marvel' !important; font-size: 1.6rem !important;}
.f-marvel-2l{text-transform: uppercase; font-family: 'marvel' !important; font-size: 2rem !important;}
.f-marvel-3l{text-transform: uppercase; font-family: 'marvel' !important; font-size: 2.5rem !important;}
