/* general settings */

*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.red-color{color: #fc1d25;}

.navBar-menu{height: 60px; background-color: #fdfd96;}

.bg-expand-menu{background-color: #fdfd96;}

#presentation{margin-top: 60px; background-color: #a2f6b5;}

  .img-me{height: inherit;}

#about{background-color: #b2dafa; color: #131313;}

#skills{background-color: #f9d99a; color: #131313;}

#projects{background-color: #a2f6b5}

#contacts{background-color: #b2dafa; color: #131313;}

footer{background-color: #131313; color: #fc1d25;}