/* general settings */

*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.red-color{
  color: #fc1d24;
}

.navBar-menu{
  height: 40px;
}

#presentation{
  margin-top: 125px;
  height: auto;
}

.img-me{
  height: inherit;
}

footer{
  height: 420px;
}
body{
  background-color: #131313;
  color: #fc1d24;
}